@import '../../../../components/default-scss/variables';

// .Movie_block {
//     width: 90%;
//     height: auto;
//     margin-top: 70px;
//     margin-bottom: 70px;
// }

@media screen and (min-width: 1201px) {
    .Movie_block {
        width: 100%;
        height: auto;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}