@import '../../components/default-scss/variables';

// .Movies {
//     max-width: 1400px;
//     margin: 0 auto;
//     min-height: 1200px;
//     background: rgb(255, 255, 255);
//     display: flex;
//     background-size: cover;
//     background-repeat: no-repeat;
//     position: relative;
    
//     .left_column {
//         position: fixed;
//         height: calc(100vh - 90px );
//         width: 260px;
//         background-color: rgba(26, 30, 30, 0.5);
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }

//     .right_column {
//         margin-left: 280px;
//         height: auto;
//         width: 82%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

@media screen and (min-width: 1201px) {
    .Movies {
        width: 1200px;
        margin: 0 auto;
        min-height: 1200px;
        background: rgb(255, 255, 255);
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    
        .right_column {
            margin-right: 40px;
            margin-left: 40px;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}