@import '../../components/default-scss/variables';

.case {
    max-width: 1400px;
    min-height: 90.5vh;
    margin: 0 auto;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.case_empty {
    max-width: 1400px;
    height: 90.5vh;
    margin: 0 auto;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}